<div id="header">
<h1>Latest Feeds</h1>
</div>

<div id="content">
<%= render 'refresh_form' %>
<%= paginate @feed_entries, :theme => 'twitter-bootstrap'%>
<p><%= render(@feed_entries) || 'There is no Feeds'%><p>
<%= paginate @feed_entries, :theme => 'twitter-bootstrap'%>
</div>

<div id="sidebar">
<p>
<li>
	<%= form_for @search do |f|%>
    <%= f.submit "Home" %>
	<% end %>
</li>
<li>
	<%= form_for @search do |f|%>
    <%= f.hidden_field :is_star_eq, value: 'true' %>
    <%= f.submit "Stared" %>
	<% end %>
</li>
<li>
	<%= form_for @search do |f|%>
    <%= f.hidden_field :is_to_read_eq, value: 'true' %>
    <%= f.submit "To Read" %>
	<% end %>
</li>
<h5> Subscription <%= render @app_keys %> </h5>
</p>
</div>